  /* 
--jet: #2B2D29;
--apricot: #EBB9A2ff;
--davys-gray: #4F4E53ff;
--paynes-gray: #54656Cff;
--outer-space: #354242ff;

--jet: hsla(90, 5%, 17%, 1);
--apricot: hsla(19, 65%, 78%, 1);
--davys-gray: hsla(252, 3%, 32%, 1);
--paynes-gray: hsla(198, 13%, 38%, 1);
--outer-space: hsla(180, 11%, 23%, 1);
*/
* {
  border: none;
  border-radius: 0;

  font-family: Consolas, Menlo, "DejaVu Sans Mono", monospace;
  
  min-height: 0;
  font-weight: 500;
  font-size: 15.5px;
  
  padding: 0;
  color: white
}

window#waybar {
  background: rgba(35, 35, 34, 0.8);
  border-radius: 4px;
}

#taskbar,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
}


#workspaces {
  background:  rgb(51, 63, 63);
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
}
#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: rgb(114, 91, 80);
  border-radius: 1px;
}

#clock {
  border-radius: 5px;
  color: white;
}

#tray,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  border-radius: 5px;
  color: white;
}


#cpu.critical,
#memory.critical {
  background-color: #ddc7a1;
  border: 2px solid #c7ab7a;
  color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  border-radius: 5px;
  color: #c14a4a;
}

#taskbar button {
  padding-left: 10px;
}